{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block head %}Profile{% endblock %}</title>
    </head>
    <body>
    {% block body %}
        <h3><i class="fa fa-angle-right"></i> {{name}}'s Profile</h3>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <form class="form-horizontal style-form" method="post" action="/profile/edit/">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" value="{{name}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Staff ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="userid" value="{{userid}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Specialist</label>
                            <div class="col-sm-10">
                                {% if level == "Orthodontist" %}
                                <input type="checkbox" name="level" value="Orthodontist" checked> Orthodontist
                                <span style="padding-left: 20px;">
                                    <input type="checkbox" name="level" value="Dentist"> Dentist
                                </span>
                                {% elif level == "Dentist" %}
                                <input type="checkbox" name="level" value="Orthodontist"> Orthodontist
                                <span style="padding-left: 20px;">
                                    <input type="checkbox" name="level" value="Dentist" checked> Dentist
                                </span>
                                {% else %}
                                <input type="checkbox" name="level" value="Orthodontist"> Orthodontist
                                <span style="padding-left: 20px;">
                                    <input type="checkbox" name="level" value="Dentist"> Dentist
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Patient</label>
                            <div style="padding: 15px;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Patient ID</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pat in patient %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ pat.name }}</td>
                                            <td>{{ pat.pid }}</td>
                                            <td>{{ pat.age }}</td>
                                            <td>{{ pat.gender }}</td>
                                            <td>
                                                <a class="btn btn-xs btn-info" href="{% url 'viewPatient' pat.pid %}" style="width: 73px; height: 24px;">
                                                    <i class="fa fa-pencil"></i>
                                                    <span style="font-size: 13px;"> Edit</span>
                                                </a>
                                            </td>
                                            <td>
                                                <form method="POST" action="{% url 'delete' pat.pid %}" class="btn btn-xs btn-theme04">
                                                    {% csrf_token %}
                                                    <i class="fa fa-trash"></i>
                                                    <input type="submit" value="DELETE" style="border: none; background-color: transparent;">
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-theme">
                            <i class="fa fa-pencil"></i> Save
                        </button>
                    </form>
                </div>
            </div>
        <!-- col-lg-12-->
        </div>
    {% endblock %}
    </body>
    
</html>