{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block head %}Patient{% endblock %}</title>
    </head>
    <body>
    {% block body %}
        <h3><i class="fa fa-angle-right"></i> {{ pname }}'s Profile</h3>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="row content-panel" style="margin: 5px;">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a data-toggle="tab" href="#overview">BASIC INFO</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#contact" class="contact-map">SCREENING</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /panel-heading -->
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="overview" class="tab-pane active">
                                <div class="form-panel" style="margin: 0; box-shadow: none;">
                                    <form class="form-horizontal style-form" method="post" action="/patient_list/patient_profile/edit/" enctype = "multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="pname" value="{{pname}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Patient ID</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="pid" value="{{pid}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Age</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" name="age" value="{{age}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Gender</label>
                                            <div class="col-sm-10">
                                                {% if gender == "Female" %}
                                                <input type="checkbox" name="gender" value="Male"> Male
                                                <span style="padding-left: 20px;">
                                                    <input type="checkbox" name="gender" value="Female" checked> Female
                                                </span>
                                                {% elif gender == "Male" %}
                                                <input type="checkbox" name="gender" value="Male" checked> Male
                                                <span style="padding-left: 20px;">
                                                    <input type="checkbox" name="gender" value="Female"> Female
                                                </span>
                                                {% else %}
                                                <input type="checkbox" name="gender" value="Male"> Male
                                                <span style="padding-left: 20px;">
                                                    <input type="checkbox" name="gender" value="Female"> Female
                                                </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-theme">
                                            <i class="fa fa-pencil"></i> Save
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <!-- /tab-pane -->
                            <div id="contact" class="tab-pane" style="padding: 10px 0px;">
                                <form class="form-horizontal style-form" action="/patient_list/patient_profile/addScreening/" method="post" enctype = "multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Patient ID</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="pid" value="{{pid}}" readonly>
                                            </div>
                                        </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">X-ray</label>
                                        <div class="col-sm-10">
                                            <input type="file" class="form-control" name="xray" required>
                                            <span class="help-block">Only .png, .jpg or .jpeg format are acceptable.</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-theme" type="submit" ><i class="fa fa-plus"></i> Add</button>
                                </form>
                                {% if screening is not None %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Result</th>
                                        <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for s in screening %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ s.date }}</td>
                                            <td><img src="{{ s.xray_url }}" width="172px" height="250px" alt="X-ray"></td>
                                            <td>
                                                {{ s.classes }} <br><br>
                                                *Percentage of each class from the prediction
                                                <br>Class I: {{ s.class1 }}
                                                <br>Class II: {{ s.class2 }}
                                                <br>Class III: {{ s.class3 }}
                                            </td>
                                            <td>
                                                <a class="btn btn-theme" href="{% url 'classifier' pid s.datetime %}">
                                                    <i class="fa fa-cogs"></i> Classify
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                            <!-- /tab-pane -->
                        </div>
                        <!-- /panel-body -->
                    </div>
                </div>
                <!-- Original code put here -->
            </div>
        <!-- col-lg-12-->
        </div>
    {% endblock %}
    </body>
</html>